.header-container{
    margin: 0 auto;
    width: 1024px;
    
}

.top-menu .sometimes:hover p {
    color: darkgray;
}


.sometimes {
margin-top: -20px;
}

.test{
   margin-left: 12px;
}

.top {
    
    
    background-color: ghostwhite;
    width: 100%;
    display:flex;
    flex-direction: row;
}
.top p {
    font-size: 12px;
    line-height: 20px;
}
.top p:hover {
    color: #a8a8a8;
}

.top-menu li {
    display: inline-block;
}




.top-menu .test:hover p {
    color: darkgray;
}



.search{
    height: 40px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
    margin-top: -4em;
    margin-left: 19em;
    cursor: auto;
}
.search > input{
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
button{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline:none;
    float: right;
    color: #ffffff;
}

.icon {
    font-size:28px;
    
    float:right;
    margin-right: 20px;
    
    display:flex;
    justify-content:column;
    text-decoration: none;
    margin-top: -1.5em; 
}

.icon a {
    color: navy;
}

.Mypage {
    margin-left: 8em;
}

.cart {
    margin-left: 25px;
}

.fa:hover {
    color: red;
    transition: 0.8s;
    cursor: pointer;
}

.menu {
    width: 970px;
    overflow: hidden;
    padding: 8px;
    margin:35px;
    list-style: none;
    display:flex;
    flex-direction: row;
    
}
  
.menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    
    background-color: #5778ff;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    line-height: 40px;
    background-color: #5778ff;
    text-decoration:none;
}
  
.menu a {
    color: #fff;
    font-weight: bold;
    text-decoration-line: none;
}
  
.submenu > li {
    line-height: 50px;
    background-color: #94a9ff;
}
  
.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;
}
.menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}


  



